.btnSubmit {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: auto;
  background: yellow;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-right: 50px;
}
.form {
  border-radius: 50px;
}
